@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.svg');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.ttf');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.woff');

$blue: #1c69d4;
$grey: #dadada;
$darkgrey: #4d4d4d;

@font-face {
  font-family: "bmwTBold";
  src: url("../fonts/bmwtypewebbo_all.woff") format("woff");
  src: url("../fonts/bmwtypewebboall.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bmwTLight";
  src: url("../fonts/bmwtypewebli_all.woff") format("woff");
  src: url("../fonts/bmwtypewebli_all_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bmwTItalic";
  src: url("../fonts/BMWTypeWebBoldAll-Italic.woff") format("woff");
  src: url("../fonts/BMWTypeWebBoldAll-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bmwHelBold";
  src: url("../fonts/BMW_Helvetica_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  font-family: "bmwTLight", sans-serif !important;
}

.wrap-sec-main {
  padding: 60px 0;
  display: flex;
  position: relative;
  min-height: 300px;
}

.sec {
  &-main {
    background-image: url('../images/header-home-bg.jpg');
    background-position: 0% 50%;
    background-size: cover;
    &-header {
      position: absolute;
      top: 0;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      z-index: 10;
    }
  }

  &-title {
    font-family: "bmwTItalic", sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.5;
  }
}

.sec-main--home {
  .sec-title {
    margin-bottom: 50px;
  }
}

.sec-main--services {
  background-image: url('../images/header-services-bg.jpg');
}

.moto-slider {
  width: 100%;
  padding-left: 50%;
  margin-bottom: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.navbar {
  height: 100px;
  display: flex;
  align-items: center;

  &-wrap {
    border-bottom: 1px solid #797975;
  }

  &-brand__logo {
    display: flex;
  }

  &-menu {
    display: flex;
    margin-left: auto;
    &-item {
      list-style-type: none;
      &__link {
        padding: 0 20px 5px 20px;
        text-decoration: none;
        color: #ffffff;
        letter-spacing: 1.5px;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 2px solid $blue;
        }
      }
    }
  }

  &-contacts {
    margin-left: 30px;
    color: #ffffff;
    display: flex;
    &-phone__img {
      width: 15px;
      height: 15px;
      background-image: url("../images/phone1-active.svg");
      margin-right: 30px;
      margin-top: 2px;
    }

    &-phone__img {
      margin-bottom: 5px;
    }

    &-info-phone__number {
      margin-bottom: 10px;
      a {
        text-decoration: none;
        color: #ffffff;
        letter-spacing: 1.5px;
      }
    }

    &-info-address__place a {
      text-decoration: none;
      color: #ffffff;
      letter-spacing: 1.33px;
    }
  }
}

.footer {
  background-color: #272727;
  color: #ffffff;
  padding: 60px 0;

  &-brand-info-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-brand__text {
    letter-spacing: 1.5px;
  }

  &-brand__logo {
    margin-bottom: 20px;
    width: 230px;
  }

  &__rights {
    color: #777777;
    letter-spacing: 1.3px;
    font-size: 14px;
  }

  &-col__title {
    font-family: "bmwTBold", sans-serif;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 1.11px;
    font-weight: 400;
  }
}

.footer-socials {
  &-list-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-bottom: 5px;

    &__img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-fb &__img {
      background-image: url('../images/facebook.svg');
    }

    &-fb:hover &__img {
      background-image: url('../images/facebook-active.svg');
    }

    &-vk &__img {
      background-image: url('../images/vk.svg');
    }

    &-vk:hover &__img {
      background-image: url('../images/vk-active.svg');
    }

    &-instagram &__img {
      background-image: url('../images/instagram.svg');
    }
    &-instagram:hover &__img {
      background-image: url('../images/instagram-active.svg');
    }

    &-whatsapp &__img {
      background-image: url('../images/whatsapp.svg');
    }

    &-whatsapp:hover &__img {
      background-image: url('../images/whatsapp-active.svg');
    }

    &-link {
      text-decoration: none;
      color: #ffffff;
      display: flex;
      align-items: center;
    }
  }
}

.footer-navbar-menu-item {
  list-style-type: none;
  display: flex;
  &__link {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: 5px;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid $blue;
    }
  }
}

.footer-contacts {
  &-list-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    &__img {
      width: 20px;
      margin-right: 10px;
    }

    &__link {
      text-decoration: none;
      color: #ffffff;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid $blue;
      }
    }
  }
}

.btn {
  font-family: 'bmwTBold', sans-serif;
  color: #ffffff;
  background-color: $blue;
  text-decoration: none;
  height: 70px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  border-top: 1px solid #245eaf;
  letter-spacing: 1.25px;
  transition: 0.2s;

  &:active, &:hover {
    background-color: #08479e;
  }
}

.sec-news {
  padding: 50px 0;
  .sec-pretitle {
    margin-bottom: 20px;
    a {
      font-family: "bmwTItalic", sans-serif;
      text-decoration: none;
      color: $blue;
      font-size: 30px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 1.5px;

    }
  }
}

.news-cards-card {
  display: block;
  cursor: pointer;
  height: 150px;
  padding: 32px;
  border-radius: 5px;
  border: 1px solid $grey;
  transition: 0.2s;
  &:hover {
    border: 1px solid $blue;
  }

  &:hover &__title {
    color: $blue;
  }

  &__date {
    font-size: 14px;
    color: $darkgrey;
    margin-bottom: 5px;
    letter-spacing: .5px;
  }
  &__title {
    height: 55px;
    overflow: hidden;
    font-family: "bmwTBold", sans-serif;
    font-size: 24px;
    letter-spacing: 1.5px;
    transition: 0.2s;
    color: $darkgrey;
  }
}

.moto-slider-nav {
  position: relative;
  .slick-dots {
    bottom: 30px;

    li button:before {
      font-size: 15px;
    }
  }
}

//xxl
@media screen and (max-width: 1380px) {
  .news-cards-card {
    margin-bottom: 20px;
  }
}

//xl
@media screen and (max-width: 1220px) {
  .wrap-sec-main {
    .sec-main-header {
      width: 80%;
      .sec-title {
        margin-bottom: 15px;
        font-size: 32px;
      }
    }
  }

  .btn {
    font-size: 14px;
    height: 50px;
  }
}

//lg
@media screen and (max-width: 980px) {
  .navbar {
    &-brand {
      width: 60%;
    }

    &-menu {
      opacity: 0;
      visibility: hidden;
      transition: .5s;
      flex-direction: column;
      background: #272727;
      position: absolute;
      top: 0;
      right: 50px;
    }

    &-menu.active {
      z-index: 9;
      opacity: 1;
      visibility: visible;
    }

    &-menu-item {
      padding: 0;

      &__link {
        padding: 20px 40px;
        display: block;

        &:hover {
          border: none;
        }
      }
    }

    &-burger {
      width: 30px;
      height: 100%;
      align-self: center;
      margin-left: auto;
    }
  }
}

//md
@media screen and (max-width: 768px) {

  .wrap-sec-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 160px;
  }

  .sec-main {
    .container {
      width: 100%;
    }
  }

  .sec-main-header {
    position: relative;
    .sec-title {
      text-align: center;
    }
  }

  .moto-slider {
    margin-top: 50px;
    padding-left: 0;
  }

  .navbar-wrap .container {
    width: 96%;
  }

  .footer {
    text-align: center;
  }

  .footer-socials-list {
    display: flex;
    justify-content: center;
  }

  .footer-contacts-list-item {
    justify-content: center;
    padding-right: 20px;
  }

  .footer-brand-info-wrap {
    padding-bottom: 20px;
  }

  .footer-brand__text {
    margin-bottom: 20px;
  }
}

//sm
@media screen and (max-width: 480px) {
  .navbar-menu {
    width: 104%;
    top: 102px;
    right: -2%;
  }

  .wrap-sec-main {
    .sec-main-header {
      .sec-title {
        font-size: 26px;
      }
    }
  }
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 480px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 980px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1220px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1380px) {
  .d-xxl-none {
    display: none !important;
  }
  .d-xxl-inline {
    display: inline !important;
  }
  .d-xxl-inline-block {
    display: inline-block !important;
  }
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-table {
    display: table !important;
  }
  .d-xxl-table-row {
    display: table-row !important;
  }
  .d-xxl-table-cell {
    display: table-cell !important;
  }
  .d-xxl-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xxl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.no-overflow {
  overflow: hidden;
}

//services
.sec-services {
  .services-card {
    text-decoration: none;
    padding: 30px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    &:hover .services-card-bg {
      transform: scale(1.2);
    }

    &-text {
      z-index: 1;
    }

    &__ico {
      height: 50px;
      width: 50px;
      margin-bottom: 10px;
    }
    &__title {
      font-family: "bmwHelBold", sans-serif;
      font-size: 30px;
      line-height: 40px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &__pretitle {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 1.2px;
      padding: 5px 0 15px 0;
    }

    &__link {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 1.2px;
    }

    .services-card-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      transition: .5s;
    }
  }
}

@media screen and (max-width: 768px) {
  .sec-services {
    .container {
      width: 100%;
    }

    .services-card {
      height: 350px;
      align-items: center;
      justify-content: center;
      text-align: center;
      .services-card-bg {
        width: 100%;
        height: auto;
      }

      &--repair {
        margin-bottom: 0;
      }

      &--repair, &--tuning {
        .services-card-bg {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .sec-services {
    .services-card {

      &--repair, &--tuning {
        .services-card-bg {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

.services-card--big {
  height: 700px;
  justify-content: center !important;
  .services-card-bg {
    width: 100%;
    height: auto !important;
  }

  .services-card-text {
    margin-bottom: 50px;
  }

  &:hover .services-card-bg {
    transform: none !important;
  }

  .sec-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .services-card--big {
    .services-card-bg {
      height: 100% !important;
      width: auto !important;
    }
  }
}

.sec-partners {

  .btn {
    margin: 50px auto;
  }

  .wunderlich-logo {
    margin: 50px auto;
    display: block;
    width: 100%;
  }

  .partners-store-img {
    width: 100%;
    margin: 50px 0;
  }

  .partner-slider-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .partner-slider {
    height: 500px;
    &__slide {
      height: 500px;
      width: auto !important;
      display: block !important;
      margin: 0 auto;
      cursor: pointer;
    }

    .slick-prev:before, .slick-next:before {
      color: $blue !important;
    }
  }

  .partner-slider-wrap__right-arrow,
  .partner-slider-wrap__left-arrow {
    display: flex;
    align-items: center;
    color: $blue;
    font-size: 82px;
    font-weight: bold;
    cursor: pointer;
  }
}

.usual-text {
  color: #333333;
  font-family: 'bmwTLight', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.5px;
}

.sec-partners-cards {
  .sec-title {
    color: #000000;
    margin: 50px 0;
  }

  .sec-title-slim {
    font-family: "bmwTItalic", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2.25px;
  }
}

.partners-cards {
  margin-bottom: 50px;

  &-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    height: 150px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid $grey;
    transition: 0.2s;
    margin-bottom: 30px;
    &:hover {
      border: 1px solid $blue;
    }

    &:hover &__title {
      color: $blue;
    }

    &__img {
      display: block;
      height: 50px;
    }

    &__img--luis {
      height: 90px;
    }

    &__title {
      overflow: hidden;
      font-family: "bmwTBold", sans-serif;
      font-size: 14px;
      letter-spacing: 1.5px;
      transition: 0.2s;
      color: $darkgrey;
    }
  }
}

.devider {
  width: 100%;
  height: 2px;
  background-color: $grey;
}

@media screen and (max-width: 768px) {
  .sec-partners {
    .container {
      width: 96%;
    }
    .partner-slider {
      height: auto;
      img.partner-slider__slide {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .sec-partners-cards {
    .sec-title {
      text-align: center;
      line-height: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .sec-partners-cards {
    .sec-title {
     font-size: 24px;
    }
  }
}

@media screen and (max-width: 500px) {
  .partners-cards-card__img {
    height: 45px;
  }

  .partners-cards-card__img--luis{
    height: 95px;
  }

  .partners-cards-card__title{
    font-size: 18px;
  }

}
