<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" type="image/png" href="/images/16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/24.png" sizes="24x24">
    <link rel="icon" type="image/png" href="/images/32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="/images/64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="/images/96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="/images/256.png" sizes="256x256">
    <link rel="icon" type="image/png" href="/images/512.png" sizes="512x512">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/boosted-grid.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="sec sec-main sec-main--partners">
    <div class="navbar-wrap">
        <div class="container">
          <nav class="navbar">
            <div class="navbar-brand">
                <a href="/" class="navbar-brand__logo">
                </a>
            </div>
            <ul class="navbar-menu">
              <li class="navbar-menu-item">
                <a href="/services.html" class="navbar-menu-item__link">Услуги</a>
              </li>
              <li class="navbar-menu-item">
                <a href="" class="navbar-menu-item__link">Интернет-Магазин</a>
              </li>
              <li class="navbar-menu-item">
                <a href="/news.html" class="navbar-menu-item__link">Новости</a>
              </li>
              <li class="navbar-menu-item">
                <a href="/contacts.html" class="navbar-menu-item__link">Контакты</a>
              </li>
            </ul>
            <div class="navbar-contacts">
              <a href="tel:79067557559" class="navbar-contacts-phone__img"></a>
              <div class="navbar-contacts-info">
                <p class="navbar-contacts-info-phone__number">
                  <a href="tel:79067557559">7 (906) 755 755 9</a>
                </p>
                <p class="navbar-contacts-info-address__place">
                  <a
                    href="https://www.google.com/maps/place/Motoshop-online.ru/@55.8592328,37.5511786,18z/data=!4m5!3m4!1s0x46b537a28388f2b1:0xe46856234771a459!8m2!3d55.8598251!4d37.5505681"
                    target="_blank"
                    >Ильменский пр-д. 4</a
                  >
                </p>
              </div>
            </div>
            <a class="navbar-burger d-flex d-lg-none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="104"
                height="104"
                viewBox="0 0 224 224"
                style=" fill:#000000;"
              >
                <g
                  fill="none"
                  fill-rule="nonzero"
                  stroke="none"
                  stroke-width="1"
                  stroke-linecap="butt"
                  stroke-linejoin="miter"
                  stroke-miterlimit="10"
                  stroke-dasharray=""
                  stroke-dashoffset="0"
                  font-family="none"
                  font-weight="none"
                  font-size="none"
                  text-anchor="none"
                  style="mix-blend-mode: normal"
                >
                  <path d="M0,224v-224h224v224z" fill="none"></path>
                  <g fill="#cccccc">
                    <path
                      d="M28,46.66667c-3.36594,-0.0476 -6.49676,1.72084 -8.19362,4.62815c-1.69686,2.90731 -1.69686,6.50306 0,9.41037c1.69686,2.90731 4.82768,4.67575 8.19362,4.62815h168c3.36594,0.0476 6.49676,-1.72084 8.19362,-4.62815c1.69686,-2.90731 1.69686,-6.50306 0,-9.41037c-1.69686,-2.90731 -4.82768,-4.67575 -8.19362,-4.62815zM28,102.66667c-3.36594,-0.0476 -6.49676,1.72084 -8.19362,4.62815c-1.69686,2.90731 -1.69686,6.50306 0,9.41037c1.69686,2.90731 4.82768,4.67575 8.19362,4.62815h168c3.36594,0.0476 6.49676,-1.72084 8.19362,-4.62815c1.69686,-2.90731 1.69686,-6.50306 0,-9.41037c-1.69686,-2.90731 -4.82768,-4.67575 -8.19362,-4.62815zM28,158.66667c-3.36594,-0.0476 -6.49676,1.72084 -8.19362,4.62815c-1.69686,2.90731 -1.69686,6.50306 0,9.41037c1.69686,2.90731 4.82768,4.67575 8.19362,4.62815h168c3.36594,0.0476 6.49676,-1.72084 8.19362,-4.62815c1.69686,-2.90731 1.69686,-6.50306 0,-9.41037c-1.69686,-2.90731 -4.82768,-4.67575 -8.19362,-4.62815z"
                    ></path>
                  </g>
                </g>
              </svg>
            </a>
          </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="wrap-sec-main">
                    <div class="sec-main-header">
                        <h1 class="sec-title">
                            Наши партнеры
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sec sec-partners">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1 col-md-6 offset-md-3">
                <img src="/images/wunderlich.png" alt="" class="wunderlich-logo">
            </div>
            <div class="col-12 col-sm-10 offset-sm-1">
                <p class="usual-text">
                    С недавних пор, наша компания является официальным дилером компании Wunderlich в России. У нас на
                    складе всегда в наличии самые популярные аксессуары для мотоциклов BMW R1200GS, R1200GS Adventure,
                    F800GS, F800S, F800ST, F800R, K1200R, K1200S, K1300R, K1300S.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="partner-slider-wrap">
                <div class="col-1 partner-slider-wrap__left-arrow">
                    &#8249;
                </div>

                <div class="col-10">
                    <div class="partner-slider">
                        <img src="/images/moto1.png" alt="moto" class="partner-slider__slide">
                        <img src="/images/moto2.png" alt="moto2" class="partner-slider__slide">
                        <img src="/images/moto3.png" alt="moto3" class="partner-slider__slide">
                    </div>
                </div>

                <div class="col-1 partner-slider-wrap__right-arrow">
                    &#8250;
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <p class="usual-text">
                    У нас всегда в наличии защиты датчиков, дросселя, рамы и т.п., защитные дуги для всех моделей
                    мотоциклов BMW. Слайдеры для BMW F800 S, K1200R, K 1300 R. Детали из карбона для BMW F800R, K1300R.
                    И еще более 100 наименований продукции компании Wunderlich.
                    <br>
                    <br>
                    Если на нашем складе не окажется нужной Вам детали, то срок поставки составит всего 14 дней. Все
                    приобретенные детали вы сможете установить в нашем мотосервисе.
                    <br>
                    <br>
                    Подробно ознакомиться с продукцией Wunderlich можно или в нашем интернет-магазине Motoshop-online.ru
                    или на официальном сайте компании Wunderlich.
                    <br>
                    <br>
                    Что такое компания Wunderlich?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <img src="images/partners-store.jpg" alt="" class="partners-store-img">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <p class="usual-text">
                    Все началось в 1985 году с доработки мотоциклов Yamaha XT и SR. Продукция имела огромный успех.
                    Первый каталог содержал 8 страниц и молодой энтузиаст Erich Wunderlich печатал его на обычной
                    печатной машинке. В 1991 году компания Wunderlich на международной выставке в Кельне IFMA 1991
                    представила свой стенд, посвященный только мотоциклам BMW.
                    <br>
                    <br>
                    Упор был сделан на очень популярный, в то время, мотоцикл BMW R 100 GS. Спустя год, компания
                    Wunderlich могла предложить уже более 200 аксессуаров для мотоциклов BMW, а каталог составлял уже 67
                    страниц. А спустя 4 года ассортимент составлял уже более 20.000 наименований различных аксессуаров.
                    Важной вехой в истории компании Wunderlich стал 2000 год. Компания была сертифицирована на
                    соответствие стандартам DIN / ISO 9001, а большая часть продукции получала одобрение TUV. Из всех
                    компаний-производителей мотоаксессуаров, Wunderlich была первой. Дальнейшее бурное развитие
                    компании, заставило расширить и производственные мощности.
                    <br>
                    <br>
                    В 2004 году Wunderlich открывает новое производство. Сегодня Wunderlich это самое современное
                    производственное оборудование, талантливые инженеры и высококлассные специалисты. Если говорить о
                    качестве продукции, то нужно отметить следующее, все, что производит компания Wunderlich, проходит
                    доскональное испытание. Причем не только в лабораторных условиях, но в тяжелых условиях различных
                    мотокроссов, ралли-рейдов, либо просто экстремальных путешествиях. От бесконечных жарких пустынь
                    Африки до ледяного холода Заполярья.
                </p>
            </div>
        </div>
        <div class="row">
            <a href="" class="btn col-10 offset-1 col-md-3 offset-md-0">Подробнее</a>
        </div>
    </div>
</div>

<div class="devider"></div>

<div class="sec sec-partners-cards">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="partners-wrap">
                    <div class="row">
                        <h2 class="col-12 sec-title sec-title-slim">
                            Мы работаем с компаниями
                        </h2>
                        <div class="col-12 partners-cards">
                            <div class="container">

                                <div class="row">
                                    <div class="col-12 col-lg-6 col-xl-4">
                                        <a href="https://www.wunderlich.de/en/" class="partners-cards-card">
                                            <img src="/images/wunderlich.png" alt="" class="partners-cards-card__img">
                                            <p class="partners-cards-card__title">
                                                Wunderlich
                                            </p>
                                        </a>
                                    </div>

                                    <div class="col-12 col-lg-6 col-xl-4">
                                        <a href="https://www.touratech.com/" class="partners-cards-card">
                                            <img src="/images/touratech.jpg" alt="" class="partners-cards-card__img">
                                            <p class="partners-cards-card__title">
                                                Touratech
                                            </p>
                                        </a>
                                    </div>

                                    <div class="col-12 col-lg-6 offset-lg-3 col-xl-4 offset-xl-0">
                                        <a href="https://www.louis.eu/" class="partners-cards-card">
                                            <img src="/images/louis.jpg" alt="" class="partners-cards-card__img partners-cards-card__img--luis">
                                            <p class="partners-cards-card__title">
                                                Louis
                                            </p>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="footer-brand-info-wrap">
                    <div>
                        <img
                                src="/images/logo.svg"
                                alt="logo"
                                class="footer-brand__logo"
                        />
                        <p class="footer-brand__text">
                            Техническое обслуживание и тюнинг
                            <br>
                            мотоциклов BMW и KTM
                        </p>
                    </div>

                    <p class="footer__rights">
                        Mosmototech 2018. <br>
                        Ремонт мотоциклов BMW и KTM
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-3 col-xl-2 offset-md-1 d-none d-xl-block">
                <h3 class="footer-col__title">
                    Меню сайта
                </h3>
                <ul class="footer-navbar">
                    <li class="footer-navbar-menu-item">
                        <a href="/services.html" class="footer-navbar-menu-item__link">Услуги</a>
                    </li>

                    <li class="footer-navbar-menu-item">
                        <a href="" class="footer-navbar-menu-item__link">Ремонт и обслуживание <br>
                            амортизаторов и вилок</a>
                    </li>

                    <li class="footer-navbar-menu-item">
                        <a href="" class="footer-navbar-menu-item__link">Интернет-магазин</a>
                    </li>

                    <li class="footer-navbar-menu-item">
                        <a href="/news.html" class="footer-navbar-menu-item__link">Новости</a>
                    </li>

                    <li class="footer-navbar-menu-item">
                        <a href="/contacts.html" class="footer-navbar-menu-item__link">Контакты</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-3 col-xl-2 offset-md-1">
                <div class="footer-socials">
                    <h3 class="footer-col__title">
                        Социальные сети
                    </h3>
                    <ul class="footer-socials-list">
                        <li class="footer-socials-list-item footer-socials-list-item-fb">
                            <a href="" class="footer-socials-list-item-link">
                                <span class="footer-socials-list-item__img"></span>
                                <span class="d-none d-md-block">Facebook</span>
                            </a>
                        </li>

                        <li class="footer-socials-list-item footer-socials-list-item-vk">
                            <a href="" class="footer-socials-list-item-link">
                                <span class="footer-socials-list-item__img"></span>
                                <span class="d-none d-md-block">Vkontakte</span>
                            </a>
                        </li>

                        <li class="footer-socials-list-item footer-socials-list-item-instagram">
                            <a href="" class="footer-socials-list-item-link">
                                <span class="footer-socials-list-item__img"></span>
                                <span class="d-none d-md-block">Instagram</span>
                            </a>
                        </li>

                        <li class="footer-socials-list-item footer-socials-list-item-whatsapp">
                            <a href="" class="footer-socials-list-item-link">
                                <span class="footer-socials-list-item__img"></span>
                                <span class="d-none d-md-block">WhatsApp</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-3 col-xl-2 offset-md-1">
                <div class="footer-contacts">
                    <h3 class="footer-col__title">
                        Контакты
                    </h3>
                    <ul class="footer-contacts-list">
                        <li class="footer-contacts-list-item">
                            <img src="/images/phone1.svg" alt="" class="footer-contacts-list-item__img">
                            <a href="tel:79067557556" class="footer-contacts-list-item__link">+7 906 755 755 9</a>
                        </li>

                        <li class="footer-contacts-list-item">
                            <img src="/images/phone1.svg" alt="" class="footer-contacts-list-item__img">
                            <a href="tel:79067557556" class="footer-contacts-list-item__link">+7 906 755 755 6</a>
                        </li>

                        <li class="footer-contacts-list-item">
                            <img src="/images/email.svg" alt="" class="footer-contacts-list-item__img">
                            <a href="mailto:info@mosmoto.tech" class="footer-contacts-list-item__link">info@mosmoto.tech</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
